<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
>
    <testsuites>
        <testsuite name="InvoiceForge Unit Tests">
            <directory>tests/phpunit/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">includes/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
        </exclude>
    </coverage>

    <php>
        <const name="INVOICEFORGE_TEST_ENV" value="1"/>
    </php>
</phpunit>
